<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
      <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss}-%t-%-p-%L:%m%n"/>
	  </layout>
    </appender>
    <appender name="FileAppender" class="org.apache.log4j.DailyRollingFileAppender">
	<param name="file" value="C:/offensive/server/logs/osrv.log"/>
	  <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	  <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss}-%t-%-p-%L:%m%n"/>
      </layout>
    </appender>
 
    <logger name="offensive.Server.GameServer">
      <level value="debug"/>
      <appender-ref ref="STDOUT"/>
    </logger>
 
 	<logger name="org.hibernate">
      <level value="info"/>
      <appender-ref ref="STDOUT"/>
    </logger>
    
    <logger name="offensive.Server.RegistrationServer">
      <appender-ref ref="STDOUT"/>
	  <appender-ref ref="FileAppender"/>
    </logger>
    
    <root>
      <appender-ref ref="FileAppender"/>
    </root>
 
</log4j:configuration>